


        <div class="section">
            
            <div class="search_filter">
                <form>
                    <fieldset>
                        Movies playing within <input type="text" class="miles" /> 
                        miles of <input type="text" class="zip" />
                        <input type="text" value="genre" /><br />
                        <span class="search_for">
                            <u>S</u>earch for: 
                            <input type="text" class="search_movies" value="search movies..." />
                            <button type="button">Go</button>
                        </span><!-- .search_for -->
                    </fieldset>
                </form>
            </div><!-- .search_filter -->
            
            <div class="article profile">
            	<h2 class="headshots">Head Shots!</h2>
                <p class="headshot_msg">
                	Now it's time to fil in your profile with details about your glamorous life.  
                	(Don't worry, it won't go on Imdb!)
                </p><!-- .headshot_msg -->
                
                <h3>The highlight reel</h3>
                <ul class="profile_pics">
                	<li id="pp1"><a href="javascript:void(0)"><img src="http://graph.facebook.com/1000499831/picture?size=square" alt="" height="76" width="76" /></a></li>
                	<li id="pp2"><a href="javascript:void(0)"><img src="http://graph.facebook.com/82701710/picture?type=square" alt="" height="76" width="76" /></a></li>
                	<li id="pp3"><a href="javascript:void(0)"><img src="http://graph.facebook.com/813525525/picture?type=square" alt="" height="76" width="76" /></a></li>
                	<li id="pp4"><a href="javascript:void(0)"><img src="http://graph.facebook.com/1622498061/picture?size=square" alt="" height="76" width="76" /></a></li>
                	<li id="pp5"><a href="javascript:void(0)"><img src="http://graph.facebook.com/1466760040/picture?type=square" alt="" height="76" width="76" /></a></li>
                </ul><!-- .profile_pics -->
                <button type="button">Upload</button>
                
                <h3>The Synopsis</h3>
                You hae 30 seconds to pitch!
                <button type="button">Edit</button>
                
                <h3>Favorite movie of all time</h3>
                'Eternal Sunshine for a Spotless Mind'
                <button type="button">Edit</button>
                
                <h3>Funny Question</h3>
                'Which celebrity would you most like to be stuck in an elevator with?
                <button type="button">Edit</button>
                
            </div><!-- article -->
            <!-- END Aritcle -->
        </div><!-- .section -->
            
        <!-- Start Sidebar (aside) -->
        <div class="aside">
            <ul>
           		<h2>Recent Activity</h2>
                <li>
                    <a href="javascript:void(0)">
                        <img src="http://graph.facebook.com/502489573/picture?type=square" height="32" width="32" alt="" />
                        <span class="user_name">Paul</span>,
                        24, New York City <br />
                        Movie: <span class="user_movie">Moneyball</span> 
                    </a>
                    <div class="clearfloat"></div>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <img src="http://graph.facebook.com/12412651/picture?type=square" height="32" width="32" alt="" />
                        <span class="user_name">Jim</span>,
                        21, New York City <br />
                        Movie: <span class="user_movie">What's...</span> 
                    </a>
                    <div class="clearfloat"></div>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <img src="http://graph.facebook.com/12415713/picture?type=square" height="32" width="32" alt="" />
                        <span class="user_name">Bob</span>,
                        44, New York City <br />
                        Movie: <span class="user_movie">Abduction</span> 
                    </a>
                    <div class="clearfloat"></div>
                </li>
            <!-- clear the float -->
            <div class="clearfloat"></div>
            </ul>
        </div><!-- .aside -->
        <!-- END Sidebar (aside) -->
        
        
