 <div class="section">
          
          <div class="search_filter">
              <form>
                  <fieldset>
                      Movies playing within <input type="text" class="miles" /> 
                      miles of <input type="text" class="zip" />
                      <input type="text" value="genre" /><br />
                      <span class="search_for">
                          <u>S</u>earch for: 
                          <input type="text" class="search_movies" value="search movies..." />
                          <button type="button">Go</button>
                      </span><!-- .search_for -->
                  </fieldset>
              </form>
          </div><!-- .search_filter -->
          
          <div class="article">
          	<ul class="movie_list">
              	<li>
                  	<div class="movie_outter_content">
                          <a href="#"><img src="images/moneyball.png" class="movie_cover_image" alt="" /></a>
                          <a href="#">@ 8 Theaters</a>
                      </div><!-- movie_outter_content -->
                      
                      <div class="movie_inner_content">
                      	<h3 class="movie_title">
                          	<a href="#">Moneyball</a>, R <br />
                              Rotten Tomatoes Score: 96%
                      	</h3>
                          <strong>Genre:</strong> Action <br />
                          <strong>Starring:</strong> Bradd Pitt, Jonah Hill <br />
                          <strong>Imdb Summary:</strong> The story of Oakland A's General manager Billy Beane's successful attempt to...  
                          (<a href="#">open IMDB page in popup</a>) <br />
                              
                          <ul>
                              <a href="#">19 Guys</a> in your area want to see this movie: <br />
                              <li><a href="#"><img src="http://graph.facebook.com/1000499831/picture?size=square" height="32" width="32" alt="" /></a></li>
                              <li><a href="#"><img src="http://graph.facebook.com/82701710/picture?type=square" height="32" width="32" alt="" /></a></li>
                              <li><a href="#"><img src="http://graph.facebook.com/813525525/picture?type=square" height="32" width="32" alt="" /></a></li>
                              <li><a href="#"><img src="http://graph.facebook.com/1622498061/picture?size=square" height="32" width="32" alt="" /></a></li>
                              <li><a href="#"><img src="http://graph.facebook.com/1466760040/picture?type=square" height="32" width="32" alt="" /></a></li>
                              <li><a href="#" class="more_matches">more...</a>
                          </ul>
                      </div><!-- .movie_inner_content -->
                      <div class="movie_buttons">
                          <button type="button" onClick="showtimes()">Add to Watchlist</button><br />
                          <button type="button">View on IMDB</button>
                      </div><!-- .movie_buttons -->
                  </li><!-- end movie list item -->
                  
              	<li>
                  	<div class="movie_outter_content">
                          <a href="#"><img src="images/abduction.png" class="movie_cover_image" /></a>
                          <a href="#">@ 12 Theaters</a>
                      </div><!-- movie_outter_content -->
                      
                      <div class="movie_inner_content">
                      	<h3 class="movie_title">
                          	<a href="#">Moneyball</a>, R <br />
                              Rotten Tomatoes Score: 96%
                      	</h3>
                          <strong>Genre:</strong> Action, Starring: Taylor Lautner, Lilly Collins <br />
                          <strong>Imdb Summary:</strong> 
                          A thriller centered on a young man who sets out to uncover the truth about his life 
                          after finding his baby photo on a missing persons website.
                          
                          <ul>
                          	<a href="#">2 Guys</a> in your area want to see this movie: <br />
                          	<li><a href="#"><img src="http://graph.facebook.com/501344395/picture?type=square" height="32" width="32" alt="" /></a></li>
                          	<li><a href="#"><img src="http://graph.facebook.com/12441640/picture?type=square" height="32" width="32" alt="" /></a></li>
                      	</ul>
                      </div><!-- .movie_inner_content -->
                      <div class="movie_buttons">
                          <button type="button" onClick="showtimes()">Add to Watchlist</button><br />
                          <button type="button">View on IMDB</button>
                      </div><!-- .movie_buttons -->
                  </li><!-- end movie list item -->
                  
              </ul><!-- .movie_list -->
          </div><!-- article -->
          <!-- END Aritcle -->
      </div><!-- .section -->
          
      <!-- Start Sidebar (aside) -->
      <div class="aside">
          <ul>
         		<h2>Recent Activity</h2>
              <li>
                  <a href="#">
                      <img src="http://graph.facebook.com/502489573/picture?type=square" height="32" width="32" alt="" />
                      <span class="user_name">Paul</span>,
                      24, New York City <br />
                      Movie: <span class="user_movie">Moneyball</span> 
                  </a>
                  <div class="clearfloat"></div>
              </li>
              <li>
                  <a href="#">
                      <img src="http://graph.facebook.com/12412651/picture?type=square" height="32" width="32" alt="" />
                      <span class="user_name">Jim</span>,
                      21, New York City <br />
                      Movie: <span class="user_movie">What's...</span> 
                  </a>
                  <div class="clearfloat"></div>
              </li>
              <li>
                  <a href="#">
                      <img src="http://graph.facebook.com/12415713/picture?type=square" height="32" width="32" alt="" />
                      <span class="user_name">Bob</span>,
                      44, New York City <br />
                      Movie: <span class="user_movie">Abduction</span> 
                  </a>
                  <div class="clearfloat"></div>
              </li>
          <!-- clear the float -->
          <div class="clearfloat"></div>
          </ul>
      </div><!-- .aside -->
      <!-- END Sidebar (aside) -->