<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>Login</title>
<%= stylesheet_link_tag :all %>
<link rel="shortcut icon" href="images/favicon.png" />
</head>
<body class="login_page">

  <%= yield %>

<ul class="footer_links">
	<li><a href="javascript:void(0)">Footer Link</a></li>
    <li>|</li>
	<li><a href="/movies">Movies</a></li>
    <li>|</li>
    <li><a href="/user/account">Account</a></li>
    <li>|</li>
    <li><a href="javascript:void(0)">Footer Link</a></li>
</ul><!-- .footer_links -->

</div><!-- .login -->

</body>
</html>